FORMAT: 1A
HOST: https://tenant.acrolinx.cloud

# Acrolinx API

The REST-like Acrolinx API helps you: 
* Configure settings on your Acrolinx instance
* Retrieve information from your Acrolinx instance
* Build Acrolinx checking features into your content creation workflows.

## Acrolinx SDKs
Consider using [Acrolinx SDKs](https://github.com/acrolinx?q=sdk).

# Authentication and Authorization

To interact with Acrolinx, you must use authorized and authenticated. This requires an **access token**.

An **access token** is an encoded and cryptographically signed string. It has the following characteristics:

* It's associated with a user
* A user can have an infinite number of access tokens
* It has a certain lifetime (30 days default) that you can change
* It expires after the lifetime or when the password of the associated user is changed
* It provides authorization and authentication

Get an **access token**
To get an access token, sign in to Acrolinx.

**Note:** To learn more about creating API tokens, read [Create an API Token](https://support.acrolinx.com/hc/en-us/articles/10306041244818-Create-an-API-Token) in the Acrolinx documentation.

See also [Create an API token](#Create an API token (Self)).

Use an access token:

Every request you send to the Acrolinx API must contain a [header](#header-access-token) that includes an access token:

```
    X-Acrolinx-Auth: WERTZUIOP
```

## API token
An API token is an access token with special characteristics:

* It has a lifetime of 4 years
* It does **not expire when the password of the associated user is changed**
* A user can have only one API token associated with it at a time

To get an API token:
* Go to your Settings and create one.
* Use the **user API** programmatically. (See more under the section **User-generated API tokens**)

Besides that, the **API token** works like an **access token**.

# General headers

## Access token

All methods except "index" and "poll access token" require a valid access token in the `X-Acrolinx-Auth` header.
If the token is invalid, Acrolinx returns a `401` response. (see `401` response of "index").

Example:

```
    X-Acrolinx-Auth: 123579080a8d1fee12490a90dc3
```

## Base URL

To support reverse proxies, an integration may provide the `X-Acrolinx-Base-Url` header with each request. If the response body contains links to the API, 
Acrolinx will prefix them with the specified value. The value must be an absolute URL including scheme and host.
Malformed values will result in a `400` status code.

Example:

```
    X-Acrolinx-Base-Url: https://example.com/path/
```

## Integration locale

All methods accept a header `X-Acrolinx-Client-Locale` that the integration can use to identify its own locale (for example, UI language).
For the value of the header field, use a single language tag that complies with [BCP 47](https://www.ietf.org/rfc/bcp/bcp47.txt). Acrolinx will try to return message strings
and other locale-specific parts of the response in the requested language.

Example:

```
    X-Acrolinx-Client-Locale: de-CH
```

Acrolinx tries to match to the nearest configured locale that it support, for example, `de`.
The "index" request returns a list of supported locales. Acrolinx falls back to the default `en` locale under the following conditions:

* No X-Acrolinx-Client-Locale header is sent
* There's no matching supported locale
* For the given response, there's no appropriate localization available

## Signature

If not otherwise documented, all methods require you to set a header `X-Acrolinx-Client`. The header needs to include a valid signature. 
If the header is missing or if the signature is invalid, the request returns an error.

The format of the signature is `Signature;Version`, where `Signature` is the signature as configured in the Acrolinx license and
`Version` is the version number of the integration.

Example:

```
    X-Acrolinx-Client: SW50ZWdyYXRpb25EZXZlbG9wbWVudERlbW9Pbmx5; 1.0.1.45
```

# Response format

The API provides a consistent format for all responses. Each response has a `links` field and one of the three fields: `error`, `progress`, or `data`.

The `links` field contains further URLs that you can use as a next step in the workflow.
* `error` is set if the request didn't succeed. This includes an HTTP status code greater or equal to 4xx.
* `progress` means that the processing isn't done yet and the integration has to poll for the final result.
* `data` contains the actual result data. The processing finished successfully.

## Error responses

### General format

The API provides a consistent format for errors, which is based on [RFC7807](https://datatracker.ietf.org/doc/rfc7807/?include_text=1).
The format is JSON and the API guarantees to send the fields `type`, `title`, `detail`, and `status` with each error response.

Example:

```
HTTP/1.1 403 Forbidden
Content-Type: application/problem+json
{
  "error": {
    "type": "auth",
    "title": "Invalid authentication",
    "detail": "The provided token for authorization is not valid.",
    "status": 403
  }
  "links": {}
}
```

* `type` is a unique identifier for the type of error. Choose a workflow for error handling that works best for the type of integration (interactive or automated).
* `title` is a short description of the error. You can use this as the title of the error message that users see.
* `detail` is a longer description of the error. You can also include this in the error message.
* `status` is redundant to the HTTP status code. It may be helpful if a proxy changes the HTTP status code of the original API response.
* You might also see an optional `reference` field with an ID.

Depending on `type`, the response may include additional fields to provide more detailed information.

We may add additional fields in the future. An integration must not break because of unexpected fields.



### Error types

Type | Description| What to do
-----|------------|------------
`client` | Unspecific error caused by the integration's request. | Check logs and configuration or the integration code.
`server` | Unspecific Acrolinx error during processing of a request. | Check logs and configuration.
`clientSignatureMissing` | The `X-Acrolinx-Client` header was missing.  | [Contact Acrolinx](https://support.acrolinx.com/hc/en-us/requests/new) to learn how to get a valid signature.
`clientSignatureRejected` | The signature included in the `X-Acrolinx-Client` header was invalid. | [Contact Acrolinx](https://support.acrolinx.com/hc/en-us/requests/new) to get a valid signature.
`sso` | Returned for any single sign-on errors. | This is likely a configuration issue.
`auth` | Invalid authentication. | Use another access token.
`insufficientPrivileges` | Insufficient privileges. | Assign the required privileges to the user.
`interactiveSignInTimedOut` | The interactive sign-in process timed out. | Sign in again.
`checkCancelled` | The check was canceled. No result is available. | Probably points to an error in the integration.
`checkFailed` | The check failed. | Check logs and configuration.
`invalidBaseUrl` | The request contained an invalid base URL in the `X-Acrolinx-Base-URL` header. | Check the configuration of integration or proxies, which set the header.
`customFieldsIncorrect` | Custom field values are incorrect. | Provide valid values for all required custom fields before or when checking a document.
`validation` | Invalid request attributes. | Check the request for invalid values or missing parameters.
`guidanceProfileDoesntExist` | Style guide doesn't exist. | The style guide doesn't exist or isn't available for the user ID and language provided.
`noGuidanceProfileConfigured` | No style guide configured. | No style guide is configured for the user ID and language provided.
`contentTooLarge` | File too large. | Try checking less content.
`queueLimitExceeded` | Queue limit exceeded. | Wait at least as long as suggested in the retry-after header and try another check.
`conflict` | Concurrent write access. | Conflict with a concurrent write access. Try again with fresh data.
`licenseLimitExceeded` | License limit exceeded. | You exceeded a limit set by the terms of your license. The error description contains more details. For more information, check [the documentation](https://support.acrolinx.com/hc/en-us/articles/10306079192082-License-Types).
`entityToAssociateNotFound` | One or more associates to an entity could not be found. | Make sure that the given associates actually exist.

### Additional information on validation errors

Errors with type `validation` come with a list of constraint violation descriptions in an additional property `validationDetails`:

```
{
    "title": "Validation error",
    "constraint": "The 'languageId' is required.",
    "attributePath": "submit.arg1.languageId",
    "detail": "The 'languageId' is required but was 'null'.",
    "invalidValue": "DictionaryEntry{surface='TestSurface', scope=language, languageId='', guidanceProfileId='null', documentId='null'}",
    "possibleValues": ["en", "de"]
}

```
* `title`: "Validation error"
* `constraint`: A minimal description of the constraint that was violated.
* `attributePath`: A hint about the property or parameter that had an invalid value.
* `detail`: A more detailed description of the constraint violation.
* `invalidValue`: The value that was invalid. Can be a data structure.
* `possibleValues`: An optional list of valid values for the property.


The `validationDetails` provide developers with information to troubleshoot bad requests.
They are not intended for automated consumption.
There's no guarantee that values are always present or in a uniform format.



## Progress responses

A progress response always contains a `retryAfter` field, which tells the integration how many seconds to wait until the next poll request.
The response can optionally include both the `message` field with a human-readable text about the current status and a `percent`, which is
a number that shows the progress as a percent.
A progress response always has the `Retry-After` header set with the same value as the `retryAfter` field and an HTTP status 202.

Examples:

```
HTTP/1.1 202 Accepted
Content-Type: application/json
{
  "progress": {
    "message": "The request is queued on position 5.",
    "percent": 2,
    "retryAfter": 5
  }
  "links": {
    "cancel": "https://tenant.acrolinx.cloud/api/v1/checks/ID100"
  }
}
```

```
HTTP/1.1 202 Accepted
Content-Type: application/json
{
  "progress": {
    "retryAfter": 1
  }
  "links": {}
}
```

## Successful responses

The number of fields in successful response data depends on the request. For example, the response might contain additional fields if the 
original check request also asked for a Term Harvesting report.

Example:

```
HTTP/1.1 200 Ok
Content-Type: application/json
{
  "data": {
    "score": 99,
    "textualScore": "Good job!"
  }
  "links": {
    "submit": "https://tenant.acrolinx.cloud/api/v1/checks"
  }
}
```

# HTML fields

Responses may contain fields with HTML snippets that provide nice formatting in interactive integrations. These fields have a name that ends with "Html", for example, "guidanceHtml". Related fields with the same content may appear in plain text. If such a field exists, it will end with "Text" like in the example, "guidanceText".

All HTML fields only contain formatting tags that do not pose a security risk. A server-side allow list filters all tags.

# JSON - Escape special characters

Some JSON characters are special and require escaping. To escape a character, prefix the character with a backslash `\`.

Below are some common characters that need to be escaped in JSON:

|Character|Escape character|
|----------------|------------|
|Double quote|`\"`|
|Backslash|`\\`|
|Forward slash|`\/`|
|Backspace|`\b`|
|Form feed|`\f`|
|Newline|`\n`|
|Tab|`\t`|
|Unicode escape sequence for special characters|`\uXXXX`|

Example:
The value of the password is `backslash\quote"` in the JSON below. The special characters are escaped using a backslash.

```json
    {
        "username": "username",
        "fullName": "full Name",
        "password": "backslash\\quote\""
    }
```

# Group Index

## Index [GET /api/v1]

This endpoint returns general information about the current Acrolinx
version. Starting with version 2024.09, it also contains information
about the installed linguistic configuration (referred to as a
"guidance package"). Starting with version 2025.02, the response also
includes the expiration date and order number for the license that's currently installed.


**Note**: This is the only web service method that provides a 200 response if no access token was sent.

+ Request

    + Header

            X-Acrolinx-Auth: ""


+ Response 200 (application/json)

        {
          "data": {
            "platform": {
                "name": "Acrolinx Platform",
                "version": "2024.09.10156"
            },
            "server": {
                "name": "Core Server",
                "version": "2024.09.10846"
            },
            "guidancePackage": {
                "name": "Guidance Package for ACME",
                "version": "2024.09",
                "build": "7732",
                "date": "2024-09-13"
            },
            "locales": [ "en" ],
            "license": { // **Since Acrolinx 2025.02**
                "expiresAt": "2038-01-19T03:14:08Z",
                "orderId": 1729
            }
          },
          "links": {
            "signIn": "https://tenant.acrolinx.cloud/api/v1/auth/sign-ins"
          }
        }


+ Request

    + Header

            X-Acrolinx-Auth: 123579080a8d1fee12490a90dc3


+ Response 200 (application/json)

        {
          "data": {
            "platform": {
                "name": "Acrolinx Platform",
                "version": "2024.09.10156"
            },
            "server": {
                "name": "Core Server",
                "version": "2024.09.10846"
            },
            "guidancePackage": {
                "name": "Guidance Package for ACME",
                "version": "2024.09",
                "build": "7732",
                "date": "2024-09-13"
            },
            "locales": [ "en" ]
          },
          "links": {
            "signIn": "https://tenant.acrolinx.cloud/api/v1/auth/sign-ins",
            "submitCheck": "http://tennant.acrolinx.cloud/api/v1/checking/checks"
          }
        }


+ Response 401 (application/json)

        {  // if provided access token became invalid
          "error": {
            "type": "auth",
            "title": "Invalid access token",
            "detail": "The provided token for authorization is invalid.",
            "status": 401
          },
          "links": {}
        }

## Capabilities [GET /api/v1/capabilities]

Learn about capabilities of the individual APIs. This overview helps if you want to 
use more than one feature of the API.

+ Response 200 (application/json)
    + Attributes
        + data (object)
            + checking (object) - capabilities of the checking resource
            + document (object) - capabilities of the document resource
        + links (object)


# Group Authentication API

Authentication works with either a configured access token, with single sign-on (SSO), or interactively with the Acrolinx sign-in web page.
Embedded integrations use either the configured access token or SSO.
Interactive integrations with a human user use SSO or the interactive process.

## Request or validate an API token [POST /api/v1/auth/sign-ins]

The sign-in collection allows Acrolinx API integrations to request user authentication and to check
the validity and privileges of existing access tokens.

If Acrolinx is configured for single sign-on, then this endpoint will accept the configured credentials
to authenticate the request.

+ Request (application/json)

    + Header

            X-Acrolinx-Auth: 123579080a8d1fee12490a90dc3 (valid) OR (invalid/expired access token) OR (no access token)
            X-Acrolinx-Client-Locale: ja
            X-Acrolinx-Client: QWxlU2hNyb2bHVnLWlunhQyR29Rm9xpbvZ2lZXRz; 1.0.1.45;

+ Response 200 (application/json)
    No sign-in needed, the response body will contain valid access tokens.

    Acrolinx may decide that the request is already sufficiently authorized. In this case,
    no sign-in process is started. The response will contain the same information as after
    a successful sign-in. The following conditions may lead to this response:

    - The `X-Acrolinx-Auth` header contained a valid token.
    - Single sign-on is configured and valid credentials are provided.

    + Attributes (object)

+ Response 201 (application/json)
    If the `X-Acrolinx-Auth` header is absent a
    new sign-in process is started. The response body contains two links.
    One allows the user to complete the sign-in process.
    The other helps the integration to acquire the session data:

    - `interactive` a link to a web page that allows the user to authenticate and
          permit the integrations to access Acrolinx. If you provide a language in the
          `X-Acrolinx-Client-Locale` header, the link will point to a localized
          version of that web page if available and technically possible.

    - `poll` a link to a resource that will return an *access token* and information
          about the user after sign-in. (see [GET `api/v1/auth/sign-ins/{id}`](#authentication-api-poll-for-a-new-api-token-get))

    Note that the sign-in process will time out. The `interactiveLinkTimeout` field
    contains the length of time in seconds that the `interactive` link will stay valid. If the
    sign-in page was loaded before this time, Acrolinx will extend
    the timeout. To detect timeouts after opening the sign-in page, use the `poll` link.

    + Body

            {
              "data": {
                "state": "Started",
                "interactiveLinkTimeout": 900
              },
              "links": {
                  "interactive": "https://tenant.acrolinx.cloud/dashboard.html?login=19901-2-8412998412",
                  "poll": "https://tenant.acrolinx.cloud/api/v1/auth/sign-ins/185-0ijfgklejt2390tui"
              }
            }

    + Attributes
        + data
          + `state`:`Started` (string, required)
          + `interactiveLinkTimeout`: 900 (number, required)
        + links
            + `interactive`: `https://tenant.acrolinx.cloud/dashboard.html?login=19901-2-8412998412` (string, required)
            + `poll`: `https://tenant.acrolinx.cloud/api/v1/auth/sign-ins/185-0ijfgklejt2390tui` (string, required)

+ Response 401 (application/json)
    If invalid SSO credentials are supplied, the request is rejected. This occurs when an SSO username
    is present but the SSO password is wrong, missing, or the user couldn't be created.

    + Header

            WWW-Authenticate: ACROLINX_TOKEN, ACROLINX_SIGN_IN (, ACROLINX_SSO)

    + Attributes (object)

+ Response 503
    Acrolinx is unable to start a sign-in process at this time.

    + Header

            Retry-After: 30

    + Attributes (object)

## Poll for a new API token [GET /api/v1/auth/sign-ins/{id}]

Use polling so your integration waits for a user to authenticate and authorize before the integration can use the
Acrolinx API. Once the user has completed the sign-in process, the response will return a new access token.

When polling returns a final result, the polling endpoint will disappear and return a `NOT FOUND` status.

+ Parameters
    + id: `99576707-ed8c-44b6-82b8-c3ced8f349d1` (string, required) - poll-id for the authorization request

+ Request

    + Header

            X-Acrolinx-Client: QWxlU2hNyb2bHVnLWlunhQyR29Rm9xpbvZ2lZXRz; 1.0.1.45

+ Response 200 (application/json)
   A user completed the sign-in process and Acrolinx created a new access token.

   Note that this resource will disappear after this response.

   + Attributes (object)

+ Response 202 (application/json)
   The user hasn't authorized the sign-in yet. Request the same URI again to continue polling.
   Note that integrations should pace themselves by respecting the `Retry-After` header.

    + Header

            Retry-After: 2

    + Attributes
        + progress
           + `retryAfter`: 2 (number, required)

+ Response 404 (application/json)
    Acrolinx has no knowledge of the polling token. If you used a valid poll URI, the cause of this response is
    a timeout, or another poll request may have consumed the credentials.

    The returned type is `interactive_sign_in_timed_out`, which distinguishes this response from a normal 404 caused by a wrong URL.

    + Attributes
       + error
         + `type`: `interactive_sign_in_timed_out` (string, required)
         + `status`: 404 (number, required)
         + title: `The interactive sign-in process timed out` (string, required)
         + detail: `The interactive sign-in process timed out. Please start a sign-in.` (string, required)


# Group Checking API

The API for checking documents.

## List checking capabilities [GET /api/v1/checking/capabilities]

Use the checking capabilities to fetch a list of available style guides. If sublanguages are activated, they're included in the list of style guides.

For each style guide, Acrolinx provides information about the language, activated goals, and term sets. The integration may use this information
for filtering, but users can only select one style guide for checking. You cannot deselect individual goals within a style guide.

For each style guide, the goals contain an additional string field called `scoring`, which can have one of the following values:
* `required` (this goal counts towards the score and writers should prioritize issues found in this goal when creating content). 
* `recommended` (this goal is a recommendation only and does not count towards the overall document score).

**Note:** Before you get started with the Checking API, review the [authentication and authorization](https://acrolinxapi.docs.apiary.io/#introduction/authentication-and-authorization) requirements. 

+ Request

    + Headers

            X-Acrolinx-Auth: your_access_token
            X-Acrolinx-Client: your_client_signature

+ Response 200 (application/json)

        {
          "data": {
            "guidanceProfiles": [
                {
                    "id": "aud-1",
                    "displayName": "Tom the Technical Type",
                    "language": {
                        "id": "en-gb",
                        "displayName": "English (Great Britain)"
                    },
                    "goals": [{
                        "id": "CORRECTNESS",
                        "displayName": "Correctness",
                        "color": "#00bfa5",
                        "scoring": "required"
                    },
                    {
                        "id": "CLARITY",
                        "displayName": "Clarity",
                        "color": "#ec407a",
                        "scoring": "recommended"
                    },
                    {
                        "id": "WORDS_AND_PHRASES",
                        "displayName": "Words and Phrases",
                        "color": "#ea80fc",
                        "scoring": "required"
                    }],
                    "termSets": [{
                        "displayName": "Switches"
                    },
                    {
                        "displayName": "Acrolinx"
                    }]
                },
                {
                    "id": "aud-2",
                    "displayName": "Randolf Redakteur",
                    "language": {
                        "id": "de",
                        "displayName": "German"
                    },
                    "goals": [{
                        "id": "CORRECTNESS",
                        "displayName": "Correctness",
                        "color": "#00bfa5",
                        "scoring": "required"
                    }],
                    "termSets": []
                }
            ],
            "contentFormats": [
                {
                    "id": "auto",
                    "displayName": "Automatic Detection"
                },
                {
                    "id": "text",
                    "displayName": "Plain Text"
                },
                {
                    "id": "markdown",
                    "displayName": "Markdown"
                },
                {
                    "id": "xml",
                    "displayName": "XML"
                },
                {
                    "id": "word_xml",
                    "displayName": "XML (MS Word 2003)"
                }
            ],
            "contentEncodings": [ "none", "zip,base64", "base64" ],
            "referencePattern": "\\.(xml|xhtm|xhtml)$|\\.(md|markdown|mdown|mkdn|mkd)$|\\.(docx|docm|pptx|pptm|xlsx|xlsm)$|\\.txt$",
            "checkTypes": [ "batch", "interactive", "baseline", "automated" ],
            "reportTypes": ["extractedText", "termharvesting", "scorecard"]
          }
        }

##  Submit a check [POST /api/v1/checking/checks]

Submits a document for checking. After you upload a document, Acrolinx schedules the check. Once checking completes,
Acrolinx makes the results available. The following steps summarize how to use the checking API:

* Submit a check
* Poll for progress
* Download check results

To learn what file types Acrolinx supports, see the list of
[supported input types](https://support.acrolinx.com/hc/en-us/articles/10211264846482-Supported-Input-Types).
The same information is available in the checking capabilities.

+ Request (application/json)

    + Headers

            X-Acrolinx-Auth: your_access_token
            X-Acrolinx-Client: your_client_signature

    + Body

            // A minimal request declaring the format only:

            {
                "content": "text to check",                  // required
                "checkOptions": {
                    "contentFormat": "markdown",                 // recommended, default: auto
                },
            }

            // A minimal request using a document reference to tell the format:

            {
                "content": "text to check",                  // required
                "document": {                                // recommended, default: empty "document" object
                    "reference": "C:\\abc.md",              // recommended, used to determine the input format and correlate multiple checks of the same document
                }
            }


            // If a standard format is configured in Acrolinx, the minimal request is even shorter:

            {
                "content": "text to check",                  // required
            }

            // A request can be much more specific, this is the full set of attributes:

            {
                "content": "text to check",                  // required
                "contentEncoding": "base64",                 // optional, default: none = HTTP request encoding
                "checkOptions": {
                    "guidanceProfileId": "aud-1",                // optional, default: first guidance profile. optional target name/target id, default: detected by Automatic Target Assignment
                    "reportTypes": ["scorecard"],                // optional, default: scorecard
                    "contentFormat": "markdown",                 // optional, default: auto
                    "checkType": "batch",                        // optional, default: interactive
                                                                 // The available check types include:
                                                                 //   interactive =  an individual user checked a single file from an integration
                                                                 //   batch       =  an individual user checked multiple files from an integration
                                                                 //   baseline    =  an individual user initiated a check for a shared repository of files from a repository integration
                                                                 //   automated   =  a check of a single file initiated automatically (for example, by using a git hook)
                                                                 // To learn more about the available check types, [visit the Acrolinx coding guidance](https://github.com/acrolinx/acrolinx-coding-guidance/blob/main/topics/check-types.md).
                    "partialCheckRanges": [{ "begin": 10, "end": 20 }, { "begin": 40, "end": 70 }],   // makes the check a partial check
                    "batchId": "gen.clc.159203590"                      // only for batch checks; optional;
                },
                "document": {                               // optional, default: empty "document" object
                    "reference": "C:\\abc.md",              // optional integration known id hint e.g. a file name
                    "customFields": [                       // optional
                        {
                            "key": "field1",
                            "value": "value1"
                        },{
                            "key": "field2",
                            "value": "value2"
                        }
                    ]
                 },
                 "language": "en"                           // optional: force language for Target Assignment using
                                                            //           guidanceProfile.language.id codes (see
                                                            //           checking capabilities)
                                                            // default: target language if target is set in checkOptions.guidanceProfileId,
                                                            //          otherwise auto-detected
            }

+ Response 201 (application/json)

        {
          "data": {
            "id": "AB-153"
          },
          "links": {
            "result": "https://tenant.acrolinx.cloud/api/v1/checking/checks/AB-153",
            "cancel": "https://tenant.acrolinx.cloud/api/v1/checking/checks/AB-153"
          }
        }

+ Response 400 (application/json)

        {
          "error": {
            "detail": "The guidance profile doesn't exist or isn't available for the user id and language given.",
            "type": "content_goal",
            "title": "guidance profile doesn't exist",
            "status": 400
          },
          "links": {
          }
        }


## Check result [/api/v1/checking/checks/{id}]

### Check result guide

#### Ignore all issue occurrences
Every issue in the check result has the attribute `positionalInformation.hashes.issue`. Use this attribute to find all occurrences of an issue. Users can ignore all of these issues together.

The integration also remembers the `positionalInformation.hashes.issue` attribute after an ignore-all operation. This information lets you filter out all previously ignored occurrences of an issue after a recheck.

#### Replace all issue occurrences with a suggestion
Every issue in the check result has the attribute `positionalInformation.hashes.issue`. Use this attribute to find all occurrences of an issue.

To apply a suggestion to all occurrences of an issue, use the `groupId` attribute to find the corresponding suggestion.
If an occurrence of an issue doesn't have a suggestion with the same `groupId` or if the `groupId` is empty, then you can't replace it with a replace-all operation.

Note that not all occurrences of an issue always have the same suggestions. When this happens, the replace-all operation only applies to issues with the same suggestion.


### Poll check result [GET]

Polls the check result. Acrolinx either returns a progress response or the completed result. The URL for the request is in the "result" link of the submitted check.

If you don't want to view detailed check results, you can use `HEAD` requests to poll the check status. While the check is in progress, you'll receive the status code
202. There will also be a `Retry-After` header with a suggested retry delay.

+ Parameters
    + id: `AB-153` (string, required) - the check id

+ Request

    + Headers

            X-Acrolinx-Auth: your_access_token
            X-Acrolinx-Client: your_client_signature

+ Response 202 (application/json)

    + Headers

            Retry-After: 2

    + Body

            {
              "progress" : {
                "percent": 20,
                "message": "Waiting in queue",
                "retryAfter": "2"
              }
            }

+ Response 200 (application/json)

        Attention: which attributes the response contains depends on
        the configuration, request, and document.

        {
          "data":{
            "id": "AB-153",
            "checkOptions": {
                "guidanceProfileId": "aud_1",
                "guidanceProfileName": "Acrolinx Essentials",
                "languageId": "en",
                "termSets": [{
                    "displayName": "Switches"
                },
                {
                    "displayName": "Acrolinx"
                }],
                "reportTypes": ["scorecard", "termharvesting"],
                "contentFormat": "markdown",
                "checkType": "interactive",
                "partialCheckRanges": [{ "begin": "10", "end": "20" }, { "begin": "40", "end": "70" }],
                "confidential": false
            },
            "document": {
                "id": "283ab1e075f21a",
                # DRAFT ------START------
                "contentType": "E-Mail",
                # DRAFT ------END------
                "customFields": [
                    {
                        "displayName": "Project ID",
                        "key": "projectId",
                        "value": "Marketing Campaign",
                        "required": true
                    }
                ],
                "displayInfo": {
                    "reference": "abc.md"
                }
            },
            "quality": {
                "score": 81,
                "status": "red",
                "scoresByStrategy": [
                {
                  "id": "average",
                  "score": 81
                },
                {
                  "id": "minimum",
                  "score": 78
                }],
                "scoresByGoal": [
                {
                  "id": "CORRECTNESS",
                  "score": 83
                },
                {
                  "id": "CLARITY",
                  "score": 64
                },
                {
                  "id": "WORDS_AND_PHRASES",
                  "score": 78
                }],
                "metrics": [
                {
                  "id": "Clarity index",
                  "score": 100
                },
                {
                  "id": "Informality index",
                  "score": 47
                },
                {
                  "id": "Liveliness index",
                  "score": 50
                },
                {
                  "id": "Flesch Reading Ease",
                  "score": 36
                }]
            },
            "counts": {
                "issues": 4,
                "scoredIssues": 2, // **Since Acrolinx 2020.11**
                "sentences": 10,
                "words": 121
            },
            "goals": [{
                "id": "CORRECTNESS",
                "displayName": "Correctness",
                "color": "#00bfa5",
                "scoring": "required",
                "issues": 1
            },
            {
                "id": "CLARITY",
                "displayName": "Clarity",
                "color": "#ec407a",
                "scoring": "recommended",
                "issues": 2
            },
            {
                "id": "WORDS_AND_PHRASES",
                "displayName": "Words and Phrases",
                "color": "#ea80fc",
                "scoring": "required",
                "issues": 1
            }],
            "issues": [
                {
                    "goalId": "CORRECTNESS",
                    "guidelineId": "EN20111291451MK",
                    "internalName": "title_case_chicago",
                    "displayNameHtml": "Use Chicago style for the title case?",
                    "guidanceHtml": "<div class=\"shortHelp\" lang=\"en\" xml:lang=\"en\">\n<p>According to the <q>Chicago Manual of Style</q>, here's how you write titles:</p>\n<ul>\n<li>Capitalize the first word and the last word.</li>\n<li>Capitalize all \"main\" words.</li>\n<li>Don't capitalize articles and conjunctions (example: <q>a</q>, <q>and</q>).</li>\n<li>Don't capitalize prepositions independent of their length (example: <q>about</q>, <q>around</q>).</li>\n</ul>\n</div>",
                    "displaySurface": "zentense",
                    "canAddToDictionary": true,
                    "issueType": "actionable",   // possible values: actionable, analytical (since 2021.02)
                    "positionalInformation": {
                        "hashes": {
                            "issue": "BhKh3iaGBjB7Cw6M/GwrLQ==",
                            "environment": "vJ9eCVViEpIdM76h+5K/nA==",
                            "index": "hjlRLT0K+LlvlslKdNUlhw==1"
                        },
                        "matches": [{
                            "extractedPart": "zen",
                            "extractedBegin": 30,
                            "extractedEnd": 33,
                            "originalPart": "zen",
                            "originalBegin": 19247,
                            "originalEnd": 19255
                        }, {
                            "extractedPart": "te",
                            "extractedBegin": 33,
                            "extractedEnd": 35,
                            "originalPart": "&te;",
                            "originalBegin": 19250,
                            "originalEnd": 19254
                        },{
                            "extractedPart": "nse",
                            "extractedBegin": 35,
                            "extractedEnd": 38,
                            "originalPart": "nse",
                 "issueLocations": [
                        {
                            "locationId": "pageLocation",
                            "displayName": "Page 4",
                            "values": { "page": "4" }
                        }
                    ],
                    "suggestions": [
                        {
                            "surface": "sentence",
                            "groupId": "sentence",
                            // the replacements refer to the matches entry of the same Index
                            // null means, don't change, any other value including the empty string means, replace the match
                            "replacements": ["sen",null,"nce"],
                            "iconId":"preferred" // optional icon id for terminology issues, "preferred" or "admitted"
                        }
                  }],
                    "links":
                        {
                            "termContribution": "https://tenant.acrolinx.cloud/terminology/v7/rest/contribute",
                            "termContributionInteractive": "https://tenant.acrolinx.cloud/termcontribution.html?surface=@@base64:cXdlcnR5dWlvcA==&locale=en&language=en&userid=admin&context=@@base64:VGhpcyBzZW50ZW5jZSBoYXMgYSBxd2VydHl1aW9wLg==",
                            "addToDictionary": "https://tenant.acrolinx.cloud/api/v1/dictionary/submit",
                            "help":"https://tenant.acrolinx.cloud/htmldata/en/rules/help/title_case_chicago.html"
                        }
                },
                {
                    "goalId": "WORDS_AND_PHRASES",
                    "guidelineId": "b4a5192e-5f9e-4f10-a849-a16be4b9cb18",
                    "internalName": "term_flag",
                    "displayNameHtml": "<b>Illegal sublanguage variant</b> of preferred term",
                    "guidanceHtml": "<div class=\"guidance term\">\n\t<b>Domains</b>\n\t\t\t<br/><i>Switches</i>\n\t\t\t\t\t<br/>\n\t\t<b>Note</b>\n\t\t<br/>\n\t\tUse &#39;please&#39; in presale materials only. Do NOT use &#39;please&#39; in postsale material.\n\t</div>\n",
                    "canAddToDictionary": false,
                    "issueType": "actionable",
                    "displaySurface": "Please",
                    "positionalInformation": {
                        "hashes": {
                            "issue": "3qyt/AVxwNTOUQSuMA7brw==",
                            "environment": "TiwIFBwA6X920mDAezJTyQ==",
                            "index": "Lm9PqBGGm+tj21rt3pkpjA==1"
                        },
                        "matches": [{
                            "extractedPart": "Please",
                            "extractedBegin": 766,
                            "extractedEnd": 772,
                            "originalPart": "Please",
                            "originalBegin": 28223,
                            "originalEnd": 28229,
                        }],
                    },
                    "readOnly": false,
                    "issueLocations": [],
                    "suggestions": [
                        {
                            "surface": "blablub",
                            "icon": "https://tenant.acrolinx.cloud/tng/icons/preferred.svg",
                            "groupId": "2653",
                            "replacements": ["blablub" ]
                            }
                        }
                    ],
                    # DRAFT ------START------
                    "debug": {
                        "term": {
                            "surface": "please",
                            "status": "DEPRECATED",
                            "termSets": ["RA-Terms"],
                            "domains": ["RA-Terms"],
                            "variant": "legalVariantIllegal",
                        }
                    }
                    # DRAFT -------END-------
                },
                {
                    "goalId": "CLARITY",
                    "guidelineId": "EN40111231459",
                    "internalName": "en-clarity-medium",
                    "displayNameHtml": "Too complex? Your readers need a medium level of clarity. ",
                    "guidanceHtml": "",
                    "canAddToDictionary": false,
                    "issueType": "actionable",
                    "displaySurface": "Reports ... length",
                    "positionalInformation": {
                        "hashes": {
                            "issue": "E3OxJ3bFcfWLyAisUxufAA==",
                            "environment": "XVYQZVyCoFOr1TDeyXuMgg==",
                            "index": "accsS0dbn/3rafcbT9NJGw==1"
                        },
                        "matches": [{
                            "extractedPart": "Reports",
                            "extractedBegin": 1360,
                            "extractedEnd": 1367,
                            "originalPart": "Reports",
                            "originalBegin": 33173,
                            "originalEnd": 33180,
                        }, {
                            "extractedPart": "length",
                            "extractedBegin": 1749,
                            "extractedEnd": 1755,
                            "originalPart": "length",
                            "originalBegin": 33562,
                            "originalEnd": 33568,
                        }]
                    },
                    "suggestions": [],
                    "issueLocations": [],
                    "readOnly": false,
                    "debug": {
                        "penalty": 1234.0967741949999
                    },
                    "subIssues": [{
                        "goalId": "CLARITY",
                        "guidelineId": "EN92712627329",
                        "internalName": "phenomenon_embedded_or_complex_sentence",
                        "displayNameHtml": "Try to split up this sentence.",
                        "guidanceHtml": "<p>This sentence doesn't seem to flow smoothly. We found a few embedded phrases in there that could be messing with your flow somehow.</p>",
                        "canAddToDictionary": false,
                        "issueType": "actionable",
                        "displaySurface": "Reports ... length",
                        "positionalInformation": {
                            "hashes": {
                                "issue": "7s1nqUN96X+P6VY4FlfSQQ==",
                                "environment": "XVYQZVyCoFOr1TDeyXuMgg==",
                                "index": "++0c1Z/OQu1Mwzt0KpkYYA==1"
                            },
                            "matches": [{
                                "extractedPart": "Reports",
                                "extractedBegin": 1360,
                                "extractedEnd": 1367,
                                "originalPart": "Reports",
                                "originalBegin": 33173,
                                "originalEnd": 33180,
                            }, {
                                "extractedPart": "length",
                                "extractedBegin": 1749,
                                "extractedEnd": 1755,
                                "originalPart": "length",
                                "originalBegin": 33562,
                                "originalEnd": 33568,
                            }]
                        },
                        "suggestions": [],
                        "issueLocations": [],
                        "readOnly": false,
                        "debug": {
                            "penalty": 320.0
                        }
                    }, {
                        "goalId": "CLARITY",
                        "guidelineId": "EN12771268128",
                        "internalName": "phenomenon_passive",
                        "displayNameHtml": "The active voice is usually clearer.",
                        "guidanceHtml": "<p>This one could do with a bit of pep. It's probably because it feels kind of passive. We love it when you're assertive.</p>",
                        "canAddToDictionary": false,
                        "issueType": "actionable",
                        "displaySurface": "was first seen",
                        "positionalInformation": {
                            "hashes": {
                                "flag": "dg+ih1XodWeL7lJ/wo17QQ==",
                                "environment": "XVYQZVyCoFOr1TDeyXuMgg==",
                                "index": "fOJLASZHiwnwcJWcfbkXnw==1"
                            },
                            "matches": [{
                                "extractedPart": "was",
                                "extractedBegin": 1406,
                                "extractedEnd": 1409,
                                "originalPart": "was",
                                "originalBegin": 33219,
                                "originalEnd": 33222
                            }, {
                                "extractedPart": "first",
                                "extractedBegin": 1410,
                                "extractedEnd": 1415,
                                "originalPart": "first",
                                "originalBegin": 33223,
                                "originalEnd": 33228
                            }, {
                                "extractedPart": "seen",
                                "extractedBegin": 1416,
                                "extractedEnd": 1420,
                                "originalPart": "seen",
                                "originalBegin": 33229,
                                "originalEnd": 33233
                            }]
                        },
                        "suggestions": [],
                        "issueLocations": [],
                        "readOnly": false,
                        "debug": {
                            "penalty": 40.0
                        }
                    }]
                },
                {
                    "goalId": "CLARITY",
                    "guidelineId": "EN85291241038",
                    "internalName": "guideline_FleschReadingEaseAsGuideline",
                    "displayNameHtml": "<span><b>Flesch Reading Ease: 47</b><br>Flesch Reading Ease is a classic readability metric.</span>",
                    "guidanceHtml": "",
                    "canAddToDictionary": false,
                    "issueType": "analytical",
                    "displaySurface": "I",
                    "issueType": "analytical",
                    "positionalInformation": {
                        "hashes": {
                            "issue": "l5wwcDu9O3IhYnnnlx6m/2e+IMTnPtkA6T3YoeqABMo=",
                            "environment": "lw/i85HTXLCY6KMk/8eOPc1vt5qB79eoy3RG1AEeQMI=",
                            "index": "9PAShJ4SjFdW4YoLGfp1WFzdUnXe9ZCP2rUI30VscFE==1"
                        },
                        "matches": [
                            {
                                "extractedPart": "I",
                                "extractedBegin": 0,
                                "extractedEnd": 1,
                                "originalPart": "I",
                                "originalBegin": 1542,
                                "originalEnd": 1543
                            }
                        ]
                    },
                    "readOnly": false,
                    "issueLocations": [],
                    "suggestions": [],
                    "subIssues": [],
                    "links": {
                        "help": "https://tenant.acrolinx.cloud/htmldata/en/rules/help/voice.FleschReadingEaseAsGuideline.html"
                    }
                }
            ],
            "keywords": {
                "links":{
                    "getTargetKeywords": "https://tenant.acrolinx.cloud/services/v1/rest/findability/targetKeywords?contextId=C%3A%5CUsers%5Cgrabowski%5CDesktop%5Ccloud-linguistic-smoketest.docx",
                    "putTargetKeywords": "https://tenant.acrolinx.cloud/services/v1/rest/findability/targetKeywords?contextId=C%3A%5CUsers%5Cgrabowski%5CDesktop%5Ccloud-linguistic-smoketest.docx"
                },
                "discovered": [{
                    "keyword": "Clarity card",
                    "sortKey": "10",
                    "density": 0.2546269436736127,
                    "count": 4,
                    "prominence": 0.0,
                    "occurrences": [{
                        "matches": [
                        // ...
                        ]
                    }],
                    "warnings": []
                }],
                "target": []
            },
            "embed":[{ // While the below keys represent the current implementation, they can change without notice
                "key": "timeStarted",
                "value": "2018-11-23T07:29:10.979Z[UTC]"
            },{
                "key": "score",
                "value": "84"
            },{
                "key": "status",
                "value": "green"
            },{
                "key": "scorecardUrl",
                "value": "https://tenant.acrolinx.cloud/services/output/en/oi5ilqippevjh2cdyn3hyldiwa_report.html"
            }],
            // DRAFT ------START------
            "addonInfo": [
                {
                    "id": "mightyAddon",
                    "title": "Mighy Addon by Cool Corp.",
                    "iconClass": "search-icon",
                    "iconUrl": "...",
                    "url": "https://mighy.cool.com/addon?fancyId=12345"
                }
            ],
            // DRAFT -------END-------
            "reports": {
                "scorecard": {
                    "displayName":"Score Card",
                    "link": "https://tenant.acrolinx.cloud/output/en/abcdef_1_report.html",
                    "linkAuthenticated": "https://tenant.acrolinx.cloud/output/en/abcdef_1_report.html?apikey=hfhfzhfhrz"
                },
                "termharvesting": {
                    "displayName": "Term Harvesting",
                    "link": "https://tenant.acrolinx.cloud/output/en/termharvesting_1.xml",
                    "linkAuthenticated": "https://tenant.acrolinx.cloud/output/en//termharvesting_1.xml?apikey=tfhzzhfhrz"
                },
                // only if a batch Id was given in the initial request
                "contentAnalysisDashboard": {
                    "displayName": "Content Analysis Dashboard",
                    "link": "https://tenant.acrolinx.cloud/batch/dccerthjj",
                }
            },
            "dictionaryScopes": ["language", "guidanceProfile", "document"]
          },
          "links": {
          }
        }

+ Response 400 (application/json)

        {
          "error": {
            "message": "Custom field values are missing",
            "type": "custom_fields_incorrect",
            "title": "Custom field values are incomplete.",
            "documentId": "3487ahgfh5fg-fg3",
            "validationDetails": [
                {
                    "title": "Custom field is required.",
                    "constraint": "Custom field \"Field\" must not be empty.",
                    "attributePath": "document.customFields.Field",
                    "detail": "Cannot set custom field \"Field\" as it is required and its value is empty.",
                    "invalidValue": null,
                    "possibleValues": ["Correct Value 1","Correct Value 2"],
                    "type": "Required"
                }
            ],
            "status": 400
          },
          "links": {
          }
        }

+ Response 400 (application/json)

        // if any of the given custom fields is invalid, a detailed error information is given.
        {
          "error": {
            "detail": "The value for document custom field \"Field\" cannot be \"Wrong Value\".",
            "type": "custom_fields_incorrect",
            "title": "Custom field values are incorrect",
            "documentId": "3487ahgfh5fg-fg3",
            "validationDetails": [
                {
                    "title": "Custom field of invalid value.",
                    "constraint": "Custom field \"Field\" must not be \"Wrong Value\".",
                    "attributePath": "document.customFields.Field",
                    "detail": "Cannot set custom field \"Field\" as it is required and its value is empty.",
                    "invalidValue": "Wrong Value",
                    "possibleValues": ["Correct Value 1","Correct Value 2"],
                    "type": "InvalidValue" // InvalidValue, InvalidField, Required, Readonly, Inconsistent
                }
            ],
            "status": 400
          }
        }

+ Response 422 (application/json)

        // the document can't be processed by the platform
        {
          "error": {
            "detail": "<reason why the document could not be processed>",
            "type": "check_failed",
            "title": "Check failed",
            "status": 422
          }
        }


### Poll check result [HEAD]

For response status codes and headers, visit the section [GET](#reference/checking-api/check-result/poll-check-result).

+ Parameters

    + id: `AB-153` (string, required) - the check id

+ Request

    + Headers

            X-Acrolinx-Auth: your_access_token
            X-Acrolinx-Client: your_client_signature

+ Response 202 (application/json)

    The check is in progress

    + Headers

            Retry-After: 2

+ Response 200 (application/json)

    The check is done.

    + Headers

+ Response 400 (application/json)

    The check failed because of an error in the request.

    + Headers

+ Response 422 (application/json)

    Acrolinx can't process the file.

    + Headers


### Cancel check [DELETE]

        Cancels a check. Users can only cancel checks that they submitted. The URL for the request is in the "cancel" link of the submitted check.

+ Parameters
    + id: `AB-153` (string, required) - the check id

+ Request

    + Headers

            X-Acrolinx-Auth: your_access_token
            X-Acrolinx-Client: your_client_signature

+ Response 200 (application/json)

        {
          "data": {
            "id": "153"
          }
        }


## Get link to Content Analysis Dashboard [GET /api/v1/checking/{batchId}/contentanalysis]

Returns the links to the human readable Content Analytics Dashboard, which aggregates information of all checks belonging to the given batch id. Requires the reporting read-only privilege. The link with an API token contains a new token with the reporting read-only privilege.

+ Parameters
    + batchId: `XYZ-10-22-33` (string, required) - the batch check id

+ Request

    + Headers

            X-Acrolinx-Auth: your_access_token
            X-Acrolinx-Client: your_client_signature


+ Response 200 (application/json)

        {
            "links": {},
            "data": {
                "links": [
                    {
                        "linkType": "withoutAccessToken",
                        "link": "https://tenant.acrolinx.cloud/analytics/dashboard/app/entry/run.jsp?jrd_resext=%7Bactive%3A0%2Creslst%3A%5B%7Bname%3A%22%2FAcrolinxReports%2Fstandard%2FContent+Analysis.dsh%22%2C%22param_page%22%3Afalse%2Cver%3A-1%2C%22dsh_params%22%3A%5B%7B%22jrd_params%22%3A%7B%22BatchId%22%3A%22_nice_batch_id_88-xyz%22%2C%22CsBaseUrl%22%3A%22http%3A%2F%2Flocalhost%3A8031%22%2C%22CsOutputPath%22%3A%22%2Foutput%22%7D%7D%5D%7D%5D%7D&jrd_userinfo=%7B%22prefer%22%3A%7B%22rpt_lang%22%3A%22en%22%2C%22enableNLS%22%3Atrue%7D%7D&jrs.language=en"
                    },
                    {
                        "linkType": "withAccessToken",
                        "link": "https://tenant.acrolinx.cloud/analytics/dashboard/app/entry/run.jsp?jrd_resext=%7Bactive%3A0%2Creslst%3A%5B%7Bname%3A%22%2FAcrolinxReports%2Fstandard%2FContent+Analysis.dsh%22%2C%22param_page%22%3Afalse%2Cver%3A-1%2C%22dsh_params%22%3A%5B%7B%22jrd_params%22%3A%7B%22BatchId%22%3A%22_nice_batch_id_88-xyz%22%2C%22CsBaseUrl%22%3A%22http%3A%2F%2Flocalhost%3A8031%22%2C%22CsOutputPath%22%3A%22%2Foutput%22%7D%7D%5D%7D%5D%7D&jrd_userinfo=%7B%22prefer%22%3A%7B%22rpt_lang%22%3A%22en%22%2C%22enableNLS%22%3Atrue%7D%7D&jrs.language=en&apikey=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG11ZCI6ImFjcm9saW54OjA4MTEwYThjNzI3MjQzYTMiLCJuYmYiOjE1MDM5MjcyMzksImlzcyI6ImFjcm9saW54OjA4MTEwYThjNzI3MjQzYTM6NWQyNTQ2NWI5ZTA3NDNiZiIsImV4cCINjYwNTYzOSwidG9rZW5UeXBlIjoidXNlciIsImlhdCI6MTUwNDAxMzYzOSwianRpIjoiMmFmOTQzOWIzZDgyNzMwODAEyMGRiZmRlMmYifQ.Lj0chsnnRTX7IevJNyWMMlCviA6ecYAQ0kacy5EGQz0"
                    },
                    {
                        "linkType": "shortWithAccessToken",
                        "link": "http://localhost:8031/api/batch/123?apikey=eyJ0eXAiOiJKV1QiLCOiJhY3JvbGlueCIsInByaXZpbGVnZXMiOlsiQ2hlY2tpbmdBbmRDbGllbnRzLmRvd25sb2FkUmVwb3J0cyJdLCJuYmYiOjE1Mzc5NTQzMjksImlzcyI6ImFjcm9saW54OjA4MTEwYThjNzI3MjQzYTMiLCJleHAiOjE1MzgxMjcxMjksInRva2VuVHlwZSI6InByaXZpbGVnZXMiLCJpYXQi3MjksImp0aSI6IlZRTVNFUzc0SlRCR0JFVFMyWTVBRjJBU1RNIn0.ltac_6JK0s_uODrqrK3TkaUsZiXfrkamo&X-Acrolinx-Client-Locale=en"
                    },
                    {
                        "linkType": "shortWithoutAccessToken",
                        "link": "http://localhost:8031/api/batch/123?X-Acrolinx-Client-Locale=en"
                    }
                ]
            }
        }

# Group User API

In the User API, Acrolinx defines a user as an entity that has the following:
* An id
* A username
* A fullName
* Custom properties (set by the integration).

You're _required_ to provide user information for the following:
* Interactive integrations: When you sign in to the Sidebar, you enter your user information. This creates an access token for the signed-in user.
* Embedded (CMS) integrations (that use an API token): When you sign in to Acrolinx, you need to enter your custom user information. Use this API to generate an API token for the user that’s signed in.

Security:
* A user can read and update their own data.
* Only users with sufficient privileges (admin, for example) can read or update other users' data.

**Note:** Before you get started with the User API, review the [authentication and authorization](https://acrolinxapi.docs.apiary.io/#introduction/authentication-and-authorization) requirements. 

## User resource [/api/v1/user]

### Get all users [GET /api/v1/user{?sort,page,per_page,username,fullName,roles}]

This request retrieves a list of all users in the order of creation.

**Searching or filtering**

- Use the `username` and `fullName` parameters to search or filter users.
- The `username` and `fullName` query parameters are limited to 255 characters, are optional, and can't be `null`.
- If the `username` and `fullName` parameters are set, the API will list users that match both parameters.
- Use the `roles` parameter to filter users by multiple role ids.
- Invalid role ids will return an empty list.

**Sorting**

If you use the `sort` query parameter, you can only sort the list of users by 1 field.
To show the list in ascending or descending order, add a `+` or `-`, respectively.

**Sorting notes:**

- You can only sort by 1 field.
- A query parameter can be any length and can include the order direction prefixes "+" or "-".
- A query parameter cannot be empty or include spaces.
- A query parameter can accept a mix of characters.
- By default, the list appears in ascending order.
- The list is also sorted by `username`, unless `username` is already the primary sort column.
- Other sort columns include: `fullName`, `createdOn`, `lastIntegrationAccess`, `checkingFrequency`, `licenseType`, `licenseStatus`, and `customFields.{key}`.
- The query parameter `licenseType` sorts by two fields: `licenseType` and `licenseStatus`.
- To sort by a custom field, the sort value needs to include `customFields`, `.`, and the `{key}`. The key is the name of the custom field.

When you sort by `customFields` in ascending order, empty `customFields` values will appear at the beginning of the list. If you sort
in descending order, empty values will appear at the end of the list.

To make sure that the sorting behavior for custom fields is consistent, the following special characters are sortable: `` !@$^*()_+-=,./;'[]<>?:|~` ``
If you use any additional special characters, the sorting behavior may be inconsistent.

So that the `+` character encoded to `%2B` stays valid, you have to encode the query parameters according
to [encodeURIComponent](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent). 
You can always leave out the `+` character, because the user list appears in ascending order by default. 

**Pagination**

For a better overview, you might want to view the list of users in pages instead of as one long list.
To request a paginated response, add the query parameters `page` and `per_page`. 
You'll need to set the `page` parameter. The page count always starts at `1`.
By default, `per_page` is set to `10`. You can display as many as 500 users per page. This is an optional parameter. 

If you request a paginated response, Acrolinx will add the following header values:

| Header                     | Description                                     |
|----------------------------|-------------------------------------------------|
| `X-Acrolinx-Page`          | The index of the current page, starting at `1`. |
| `X-Acrolinx-Next-Page`     | The index of the next page.                     |
| `X-Acrolinx-Previous-Page` | The index of the previous page.                 |
| `X-Acrolinx-Total-Pages`   | The total number of pages.                      |
| `X-Acrolinx-Total`         | The total number of items.                      |

In addition to the header values, the response object also contains a few URLs
within the `links` object:

| Relation | Description                       |
|----------|-----------------------------------|
| `next`   | The URL to get the next page.     |
| `prev`   | The URL to get the previous page. |
| `first`  | The URL to get the first page.    |
| `last`   | The URL to get the last page.     |

If there aren't any next or previous pages, you won't see the `next` and `prev` links.
For example, when you view page 1, you won't see a `prev` link because there's no page 0. 
This is also the case for the values in the headers.

**Note:** When you switch to the next or previous page, you'll see the current paginated view at the time of the API call. 
This view will also reflect any changes to the underlying data source. Say you're on page 2 of 10 with 10 records per page but  
then you decide to delete 10 users before you call the API to fetch page 3. Now when you switch to page 3, the response will show page 3 of 9.

The example response includes the pagination URLs and query parameters in the `links` object so you know what to expect. 

**Dynamically include or exclude nested data**

If you manage a large number of users, you can use the query parameters `includeCustomField` and `excludeProperties` to filter nested data.

By default, all custom fields are nested in the user model.
Use the `includeCustomField` parameter to limit the returned fields to those that match the key passed in the parameter value.
This parameter is helpful if you want to fetch a specific set of custom fields to reduce data transfer.
To include more than one custom field, add `&includeCustomField={Key}` to the request N times.
To exclude all custom fields, use the parameter `&excludeCustomFields=true`. This takes priority over any
`includeCustomField` parameters that are present, and will always result in no custom fields being returned.

+ Parameters

    + username (string, optional) - Optional query parameter for searching by username.
    + fullName (string, optional) - Optional query parameter for searching by full name.
    + sort (enum[string], optional) - Optional query parameter for sorting by an attribute. 
            
        + Prefix the field with:
            + **"+"** for ascending order, or
            + **"-"** for descending order. 
        + **Note:** 
            + Omitting a prefix will sort in ascending order.
            + Use `customFields.{key}` to sort by custom fields. `{key}` is the name of the custom field.

        + Default: username
        + Members
            + `username`
            + `fullName`
            + `createdOn`
            + `lastIntegrationAccess`
            + `checkingFrequency`
            + `licenseType`
            + `licenseStatus`
            + `customFields.{key}`

    + page (number, optional) - Optional query parameter for pagination
    + per_page (number, optional) - Optional query parameter for sizing a page
        + Default: `10`
    + roles (array[string], optional) - Optional query parameter to filter by multiple role ids

+ Request Get a list of all users (application/json)

    + Headers

            X-Acrolinx-Auth: your_access_token

+ Response 200 (application/json)

    + Attributes (object)
        + links (Pagination)
        + data (array[User])

    + Body

            {
                "links": {
                    "prev": "https://tenant.acrolinx.cloud/api/v1/user?page=2&per_page=2&sort=username&fullName=Fred Freelancer&username=fred",
                    "next": "https://tenant.acrolinx.cloud/api/v1/user?page=4&per_page=2&sort=username&fullName=Fred Freelancer&username=fred",
                    "first": "https://tenant.acrolinx.cloud/api/v1/user?page=1&per_page=2&sort=username&fullName=Fred Freelancer&username=fred",
                    "last": "https://tenant.acrolinx.cloud/api/v1/user?page=60&per_page=2&sort=username&fullName=Fred Freelancer&username=fred"
                },
                "data": [
                    {
                        "id": "eb323701-839f-4998-b56e-3e20c70259c5",
                        "username": "fred",
                        "fullName": "Fred Freelancer",
                        "createdOn": "2021-04-15T15:00:26.495Z",
                        "lastIntegrationAccess": "1970-01-01T00:00:00Z",
                        "licenseType": "named",
                        "licenseStatus": "inactive",
                        "activeTokenId": "",
                        "checkingFrequency": "infrequent",
                        "properties" : {
                            "customkey": "customvalue",
                        },
                        "roles": [
                            {
                                "id": "d66d4d00-3381-11e0-bc8e-0800200c9a66",
                                "name": "Term Contributor"
                            },
                            {
                                "id": "6a0ebe93-f735-4b08-b6f2-66f7ecc70190",
                                "name": "Term Browser Administrator"
                            }
                        ],
                        "idpUser": true,
                        "staffUser": true,
                        "rolesSetByIdp": false,
                        "customFields": [
                            {
                                "key": "Department",
                                "displayName": "Department",
                                "inputType": "optional",
                                "type": "list",
                                "value": "Example Department",
                                "possibleValues": [
                                    "Example Department"
                                ]
                            }
                        ]
                    },
                    {
                        "id": "fd3eaa89-a6b7-463a-ba12-b7ded410bda0",
                        "username": "franz",
                        "fullName": "Franz Hubendobler",
                        "createdOn": "2021-02-23T17:24:01.131Z",
                        "lastIntegrationAccess": "1970-01-01T00:00:00Z",
                        "licenseType": "builtin",
                        "licenseStatus": "active",
                        "activeTokenId": "uqlyxi3cdxrdqn7bzwdfffyvzr",
                        "checkingFrequency": "infrequent",
                        "properties" : {
                            "customkey": "customvalue",
                        },
                        "roles": [
                            {
                                "id": "898a7c32-2c39-4cde-becb-16f22243e9b8",
                                "name": "Analytics Read-Only User"
                            }
                        ],
                        "idpUser": true,
                        "staffUser": true,
                        "rolesSetByIdp": false,
                        "customFields": [
                            {
                                "key": "Department",
                                "displayName": "Department",
                                "inputType": "optional",
                                "type": "list",
                                "value": "Example Department",
                                "possibleValues": [
                                    "Example Department"
                                ]
                            }
                        ]
                    }
                ]
            }

+ Request Get a list of all users sorted by license type in ascending order (application/json)

    + Headers

            X-Acrolinx-Auth: your_access_token

+ Response 200 (application/json)

    + Attributes (object)
        + links (Pagination)
        + data (array[User])

    + Body

            {
                "links": {},
                "data": [
                    {
                        "id": "5894f2bb-5b34-4874-bc40-ec64e9a4ca63",
                        "username": "analyticsReadOnlyUser",
                        "fullName": "",
                        "createdOn": "2021-10-07T08:40:53.646Z",
                        "activeTokenId": "",
                        "lastIntegrationAccess": "1970-01-01T00:00:00Z",
                        "licenseType": "builtin",
                        "licenseStatus": "active",
                        "checkingFrequency": "infrequent",
                        "roles": [
                            {
                                "id": "898a7c32-2c39-4cde-becb-16f22243e9b8",
                                "name": "Analytics Read-Only User",
                                "default": false
                            }
                        ],
                        "idpUser": true,
                        "staffUser": true,
                        "rolesSetByIdp": false,
                        "properties": {
                            "Segmentation.xml.DTDs": ""
                        },
                        "customFields": [
                            {
                                "key": "Department",
                                "displayName": "Department",
                                "inputType": "optional",
                                "type": "list",
                                "value": "Example Department",
                                "possibleValues": [
                                    "Example Department"
                                ]
                            }
                        ]
                    },
                    {
                        "id": "c85030fd-2e03-4c69-9946-0b4f5689522c",
                        "username": "termcontribution",
                        "fullName": "",
                        "createdOn": "2021-10-07T08:40:53.642Z",
                        "activeTokenId": "",
                        "lastIntegrationAccess": "1970-01-01T00:00:00Z",
                        "licenseType": "builtin",
                        "licenseStatus": "inactive",
                        "checkingFrequency": "infrequent",
                        "roles": [
                            {
                                "id": "d66d4d00-3381-11e0-bc8e-0800200c9a66",
                                "name": "Term Contributor",
                                "default": false
                            }
                        ],
                        "idpUser": true,
                        "staffUser": true,
                        "rolesSetByIdp": false,
                        "properties": {
                            "Segmentation.xml.DTDs": ""
                        },
                        "customFields": [
                            {
                                "key": "Department",
                                "displayName": "Department",
                                "inputType": "optional",
                                "type": "list",
                                "value": "Example Department",
                                "possibleValues": [
                                    "Example Department"
                                ]
                            }
                        ]
                    },
                    {
                        "id": "bb284474-e107-413e-9c15-d813ed7209e9",
                        "username": "fred",
                        "fullName": "Fred Freelancer",
                        "createdOn": "2021-10-21T11:52:36.912Z",
                        "activeTokenId": "touxmkywwmu5vk6nyqto2m75x6",
                        "lastIntegrationAccess": "1970-01-01T00:00:00Z",
                        "licenseType": "named",
                        "licenseStatus": "active",
                        "checkingFrequency": "infrequent",
                        "roles": [
                            {
                                "id": "8c66c4e2-174a-4f77-b8d4-71bfa9ca4d2e",
                                "name": "Author",
                                "default": false
                            },
                            {
                                "id": "bc5c91f3-fae1-49f7-8d60-d325077c6ef9",
                                "name": "Super Administrator",
                                "default": false
                            }
                        ],
                        "idpUser": true,
                        "staffUser": true,
                        "rolesSetByIdp": false,
                        "properties": {
                            "Segmentation.xml.DTDs": ""
                        },
                        "customFields": [
                            {
                                "key": "Department",
                                "displayName": "Department",
                                "inputType": "optional",
                                "type": "list",
                                "value": "C",
                                "possibleValues": [
                                    "Example Department"
                                ]
                            }
                        ]
                    },
                    {
                        "id": "0593c6b4-99d9-4d43-886b-f67cb66df7ed",
                        "username": "franz",
                        "fullName": "Franz Hubendobler",
                        "createdOn": "2021-11-01T07:31:18.365Z",
                        "activeTokenId": "",
                        "lastIntegrationAccess": "1970-01-01T00:00:00Z",
                        "licenseType": "named",
                        "licenseStatus": "inactive",
                        "checkingFrequency": "infrequent",
                        "roles": [
                            {
                                "id": "8c66c4e2-174a-4f77-b8d4-71bfa9ca4d2e",
                                "name": "Author",
                                "default": false
                            }
                        ],
                        "idpUser": true,
                        "staffUser": true,
                        "rolesSetByIdp": false,
                        "properties": {
                            "Segmentation.xml.DTDs": ""
                        },
                        "customFields": [
                            {
                                "key": "Department",
                                "displayName": "Department",
                                "inputType": "optional",
                                "type": "list",
                                "value": "B",
                                "possibleValues": [
                                    "Example Department"
                                ]
                            }
                        ]
                    }
                ]
            }

+ Response 400 (application/json)

        // when the sort query parameter uses an invalid field name
        {
            "links": {},
            "error": {
                "reference": "b4c323ab-413b-4bf5-be60-93e13c3aad93",
                "detail": "Check the request for invalid values or missing parameters.",
                "type": "validation",
                "title": "Couldn't parse 'sort' query parameter",
                "validationDetails": [
                    {
                        "title": "Validation error",
                        "detail": "sort param must not be null",
                        "invalidValue": "null"
                    }
                ],
                "status": 400
            }
        }

+ Response 400 (application/json)

        // when the field name is omitted in the sort query parameter
        {
            "links": {},
            "error": {
                "reference": "b4c323ab-413b-4bf5-be60-93e13c3aad93",
                "detail": "Check the request for invalid values or missing parameters.",
                "type": "validation",
                "title": "Invalid request attributes",
                "validationDetails": [
                    {
                        "title": "Validation error",
                        "constraint": "Pattern",
                        "detail": "must match \"[+-]?.+\"",
                        "invalidValue": "+"
                    }
                ],
                "status": 400
            }
        }

+ Response 400 (application/json)

        // when the per_page parameter exceeds the 500 per page limit
        {
            "links": {},
            "error": {
                "reference": "196f8b88-493c-46d7-b7bc-5da32d0a58d7",
                "detail": "Check the request for invalid values or missing parameters.",
                "type": "validation",
                "title": "Invalid request attributes",
                "validationDetails": [
                {
                    "title": "Validation error",
                    "constraint": "Range",
                    "detail": "must be between 1 and 500",
                    "invalidValue": "900"
                }
                ],
                "status": 400
            }
        }

+ Response 400 (application/json)

        // when the page parameter has an invalid value such as 0 or negative number
        {
            "links": {},
            "error": {
                "reference": "b2045b7f-1dce-49e7-880a-93874f427554",
                "detail": "Invalid page request attribute, it must be greater than zero",
                "type": "client",
                "title": "Bad Request",
                "status": 400
            }
        }

+ Response 400 (application/json)

        // when the custom field name cannot be found
        {
            "links": {},
            "error": {
                "reference": "1095ac3c-4418-467d-930e-d517b8e34beb",
                "detail": "Telephone is not a valid user custom sortable field",
                "type": "client",
                "title": "Bad Request",
                "status": 400
            }
        }

+ Response 400 (application/json)

        // when the custom field name is null or empty
        {
            "links": {},
            "error": {
                "reference": "1095ac3c-4418-467d-930e-d517b8e34beb",
                "detail": "customFields cannot be null or empty.",
                "type": "client",
                "title": "Bad Request",
                "status": 400
            }
        }

+ Response 401 (application/json)

        // when the access token in the request is missing or invalid
        {
            "links": {},
            "error": {
                "detail": "Valid authentication has either not been provided or is insufficient.",
                "type": "auth",
                "title": "Invalid authentication",
                "status": 401
            }
        }

+ Response 404 (application/json)

        // when the page parameter has a non-numeric value, which is invalid
        {
            "links": {},
            "error": {
                "reference": "f1926760-f2e7-4af7-a3a6-f274bcb9a00f",
                "detail": "An unspecific client error occurred.",
                "type": "client",
                "title": "Not Found",
                "status": 404
            }
        }

### Get a user [GET /api/v1/user/{id}]

This request returns information about a user.
The information includes the user id, username, the user's full name, the date the user was created, the last time the user accessed an integration, checking frequency, tenant ID, token ID, license type, and license status.
You'll also see properties, roles, and custom fields.

+ Parameters

    + id: `eb323701-839f-4998-b56e-3e20c70259c5` (string, required) - UUID of the user, unique identifier

+ Request Get specified user by id (application/json)

    + Headers

            X-Acrolinx-Auth: your_access_token

+ Response 200 (application/json)

    + Attributes (object)
        + links (object)
        + data (User)

    + Body

            {
                "links": {},
                "data": {
                    "id": "eb323701-839f-4998-b56e-3e20c70259c5",
                    "username": "fred",
                    "fullName": "Fred Freelancer",
                    "createdOn": "2021-04-15T15:00:26.495Z",
                    "lastIntegrationAccess": "1970-01-01T00:00:00Z",
                    "licenseType": "named",
                    "licenseStatus": "inactive",
                    "activeTokenId": "uqlyxi3cdxrdqn7bzwdfffyvzr",
                    "checkingFrequency": "infrequent",
                    "properties" : {
                        "customkey": "customvalue",
                    },
                    "roles": [
                        {
                            "id": "d66d4d00-3381-11e0-bc8e-0800200c9a66",
                            "name": "Term Contributor"
                        },
                        {
                            "id": "6a0ebe93-f735-4b08-b6f2-66f7ecc70190",
                            "name": "Term Browser Administrator"
                        }
                    ],
                    "idpUser": true,
                    "staffUser": true,
                    "rolesSetByIdp": false,
                    "customFields": [
                        {
                            "key": "Department",
                            "displayName": "Department",
                            "inputType": "optional",
                            "type": "list",
                            "value": "Example Department",
                            "possibleValues": [
                                "Example Department"
                            ]
                        }
                    ]
                }
            }

+ Response 401 (application/json)

        // when the access token in the request is missing or invalid
        {
            "error": {
                "detail": "Valid authentication has either not been provided or is insufficient.",
                "type": "auth",
                "title": "Invalid authentication",
                "status": 401
            }
        }

+ Response 403 (application/json)

        // when you don't have the privilege to fetch users
        {
        "links": {},
            "error": {
                "detail": "The user does not have the required privileges to perform the operation.",
                "type": "insufficientPrivileges",
                "title": "Insufficient privileges",
                "status": 403
            }
        }

+ Response 404 (application/json)

        // when the user couldn't be identified by its *id* in the database
        {
        "links": {},
            "error": {
                "reference": "652b5c86-de20-4629-9df6-84265f2722ec",
                "detail": "An unspecific client error occurred.",
                "type": "client",
                "title": "Not Found",
                "status": 404
            }
        }


### Get a user (self) [GET /api/v1/user/self]

This is an alternative way to get information about the current user (authorized in the request).

+ Request Get current user (application/json)

    + Headers

            X-Acrolinx-Auth: your_access_token

+ Response 200 (application/json)

    + Attributes (object)
        + links (object)
        + data (User)

    + Body

            {
                "links": {},
                "data": {
                    "id": "eb323701-839f-4998-b56e-3e20c70259c5",
                    "username": "fred",
                    "fullName": "Fred Freelancer",
                    "createdOn": "2021-04-15T15:00:26.495Z",
                    "lastIntegrationAccess": "1970-01-01T00:00:00Z",
                    "licenseType": "named",
                    "licenseStatus": "inactive",
                    "activeTokenId": "uqlyxi3cdxrdqn7bzwdfffyvzr",
                    "checkingFrequency": "infrequent",
                    "properties" : {
                        "customkey": "customvalue",
                    },
                    "roles": [
                        {
                            "id": "d66d4d00-3381-11e0-bc8e-0800200c9a66",
                            "name": "Term Contributor"
                        },
                        {
                            "id": "6a0ebe93-f735-4b08-b6f2-66f7ecc70190",
                            "name": "Term Browser Administrator"
                        }
                    ],
                    "idpUser": true,
                    "staffUser": true,
                    "rolesSetByIdp": false,
                    "customFields": [
                        {
                            "key": "Department",
                            "displayName": "Department",
                            "inputType": "optional",
                            "type": "list",
                            "value": "Example Department",
                            "possibleValues": [
                                "Example Department"
                            ]
                        }
                    ]
                }
            }

+ Response 401 (application/json)

        // when the access token in the request is missing or invalid
        {
            "error": {
                "detail": "Valid authentication has either not been provided or is insufficient.",
                "type": "auth",
                "title": "Invalid authentication",
                "status": 401
            }
        }

+ Response 404 (application/json)

        // when the user couldn't be identified by its *id* in the database
        {
        "links": {},
            "error": {
                "reference": "652b5c86-de20-4629-9df6-84265f2722ec",
                "detail": "An unspecific client error occurred.",
                "type": "client",
                "title": "Not Found",
                "status": 404
            }
        }

### Create a user [POST /api/v1/user]

**Note:**

- The username needs to be unique and is limited to 255 characters.
- The `fullName` field is limited to 255 characters (optional).
- The license type can either be "named" or "concurrent" (optional).
- You need `UserAndRoles.editUser` privileges to perform this request.

**Password requirements**

If you want to create a user, the password field is required.
Your password needs to meet the following requirements:

- Composed of ASCII printable characters
- Include at least 1 lowercase letter
- Include at least 1 uppercase letter
- Include at least 1 digit
- Include at least 1 special character
- At least 10 characters long
- No more than 64 characters long

**Be very careful in the following cases:**
- Federated authentication is enabled:
  - Users are created automatically with federated authentication.
  - Only users created by the identity provider can sign in to Acrolinx.
  - Users that you create with the API can only be used for automation. For example, interactions with the Acrolinx API.


+ Request Create a user (application/json)

     This will create a new user if you add a username, fullName, and password to the request.

    **Note:** By default, Acrolinx will automatically assign the user the license type `named` and the role `Author`.

    + Headers

            X-Acrolinx-Auth: your_access_token

    + Attributes (CreateUser)

    + Body

            {
                "username": "fred",
                "fullName": "Fred Freelancer",
                "password": "P@ssW0rd12345!"
            }

+ Response 201 (application/json)

    + Attributes (object)
        + links (object)
        + data (User)

    + Body

            {
                "links": {},
                "data": {
                    "id": "eb323701-839f-4998-b56e-3e20c70259c5",
                    "username": "fred",
                    "fullName": "Fred Freelancer",
                    "createdOn": "2021-04-15T15:00:26.495Z",
                    "lastIntegrationAccess": "1970-01-01T00:00:00Z",
                    "licenseType": "named",
                    "licenseStatus": "inactive",
                    "activeTokenId": "",
                    "checkingFrequency": "infrequent",
                    "properties" : {
                        "customkey": "customvalue",
                    },
                    "roles": [
                        {
                            "id": "8c66c4e2-174a-4f77-b8d4-71bfa9ca4d2e",
                            "name": "Author"
                        }
                    ],
                    "idpUser": false,
                    "staffUser": false,
                    "rolesSetByIdp": false,
                    "customFields": [
                        {
                            "key": "Department",
                            "displayName": "Department",
                            "inputType": "optional",
                            "type": "list",
                            "value": "Example Department",
                            "possibleValues": [
                                "Example Department"
                            ]
                        }
                    ]
                }
            }

+ Response 400 (application/json)

        // when the request format is invalid
        {
            "links": {},
            "error": {
                "detail": "Unexpected character ....",
                "type": "client",
                "title": "Could not parse request body.",
                "status": 400
            }
        }

+ Response 400 (application/json)

        // when the password doesn't meet the strictness requirements starting from v2021.05
        {
            "links": {},
            "error": {
                "reference": "30c5db1e-fabd-4815-890a-a55416e6c3be",
                "detail": "Check the request for invalid values or missing parameters.",
                "type": "validation",
                "title": "Invalid request attributes",
                "validationDetails": [
                    {
                        "title": "Validation error",
                        "constraint": "Size",
                        "attributePath": "password",
                        "detail": "size must be between 1 and 128",
                        "invalidValue": "simple"
                    }
                ],
                "status": 400
            }
        }

+ Response 400 (application/json)

        // when the password doesn't meet the strictness requirements starting from v2022.02
        {
            "links": {},
            "error": {
                "reference": "30c5db1e-fabd-4815-890a-a55416e6c3be",
                "detail": "Check the request for invalid values or missing parameters.",
                "type": "validation",
                "title": "Invalid request attributes",
                "validationDetails": [
                    {
                        "title": "Validation error",
                        "constraint": "Password must be composed of printable ASCII characters and contain at least 1 lower-case, 1 upper-case letter, 1 digit, one symbol and must be between 10 to 64 characters in length",
                        "attributePath": "password",
                        "detail": "Password must be composed of printable ASCII characters and contain at least 1 lower-case, 1 upper-case letter, 1 digit, one symbol and must be between 10 to 64 characters in length",
                        "invalidValue": "not a secure password"
                    }
                ],
                "status": 400
            }
        }

+ Response 400 (application/json)

        // when the password is omitted starting from v2022.02
        {
            "links": {},
            "error": {
                "reference": "30c5db1e-fabd-4815-890a-a55416e6c3be",
                "detail": "Check the request for invalid values or missing parameters.",
                "type": "validation",
                "title": "Invalid request attributes",
                "validationDetails": [
                    {
                        "title": "Validation error",
                        "constraint": "NotEmpty",
                        "attributePath": "password",
                        "detail": "must not be empty",
                        "invalidValue": ""
                    }
                ],
                "status": 400
            }
        }

+ Response 400 (application/json)

        // when the licenseType is invalid
        {
            "links": {},
            "error": {
                "reference": "f04a1a1e-0046-4b86-b9c3-da491d3343b5",
                "detail": "Check the request for invalid values or missing parameters.",
                "type": "validation",
                "title": "Invalid request attributes",
                "validationDetails": [
                    {
                        "title": "Deserialization error",
                        "constraint": "Must be one of [NAMED, CONCURRENT, BUILTIN].",
                        "attributePath": "licenseType",
                        "detail": "Cannot deserialize enum 'LicenseType' from value 'asd'. Possible values are [NAMED, CONCURRENT, BUILTIN].",
                        "invalidValue": "asd",
                        "possibleValues": [
                            "NAMED",
                            "CONCURRENT",
                            "BUILTIN"
                        ]
                    }
                ],
                "status": 400
            }
        }

+ Response 401 (application/json)

        // when the access token in the request is missing or invalid
        {
            "error": {
                "detail": "Valid authentication has either not been provided or is insufficient.",
                "type": "auth",
                "title": "Invalid authentication",
                "status": 401
            }
        }

+ Response 403 (application/json)

        // when you don't have the privilege to create users
        {
        "links": {},
            "error": {
                "detail": "The user does not have the required privileges to perform the operation.",
                "type": "insufficientPrivileges",
                "title": "Insufficient privileges",
                "status": 403
            }
        }

+ Response 409 (application/json)

        // when the user was created more than once
        {
        "links": {},
            "error": {
                "reference": "a159c153-e99b-4d49-9987-ca457670ef86",
                "detail": "Licensing error (Invalid user id (message ID #2): A user with the name 'fred' already exists. Please provide a different user name or spell the user name appropriately.)",
                "type": "client",
                "title": "Conflict",
                "status": 409
            }
        }

+ Response 500 (application/json)

        // when an unspecified error occurs
        {
            "links": {},
            "error": {
                "reference": "4f356c86-aac1-4cae-8d78-518aea6cebe0",
                "detail": "An unspecific server error occurred. Details may be found in the Acrolinx log files.",
                "type": "server",
                "title": "Unspecific server error",
                "status": 500
            }
        }


+ Request Create a user with specified license type (application/json)

[...]
